<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MPWAR Provincias - Home</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/custom.css"/>
    <link href="/assets/css/jquery-ui.min.css" rel="stylesheet">


</head>
<body class="intro">




    <div class="container">
        <!-- Navigation -->
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li class="active"><a href="/calculadora-provincia">Calculador de provincia</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="search-nav">
                            <form action="" class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="text" class="form-control" name="search" id="search"
                                           placeholder="Provincia">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-lg-12">
                <h1>Municipios de {{ municipios.provincia }}</h1>

                <p>Aquí se muestran los muncipios pertenecientes a {{ municipios.provincia }} </p>
                <ul class="list-inline">
                    {% for currentMunicipio in municipios|slice(0,10) %}

                        <li><a href="">{{ currentMunicipio.nombre|convert_encoding('UTF-8', 'ISO-8859-1') }}</a>
                        </li>

                    {% endfor %}
                </ul>

            </div>
        </div>



    </div>


    <script type="text/javascript" src="/assets/js/jquery.js"></script>

    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script>
        var data = [
            {% for currentProvince in provinces.all %}
            { value: "", label: "{{ currentProvince.provincia|convert_encoding('UTF-8', 'ISO-8859-1') }}" },
            {% endfor %}


        ];
        $(function() {
            $("#search").autocomplete({
                source: data

            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                alert("entra");
                return $("<li>").append("<a href='http://www.google.com' >"+item.label+"</a>").appendTo(ul);
            };
        });

    </script>


</body>
</html> 